@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body 
{
  background: #fff;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.content 
{
  max-width: 1350px;
  margin: 0px auto;
}

nav 
{
  margin: 0px auto 10px;
  padding: 2px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #fe3152;
}

nav .logo 
{
  margin-right: auto;
}

.complaint-logo
{
  margin: 8px 0px 0px 0px !important;
}

footer 
{
  display: block;
  text-align: center;
  padding: 20px 0;
  margin-top: 5px;
  color: #777;
  border-top: 1px solid #fe3152;
}

.not-found
{
  text-align: center;
}

.not-found a
{
  color: #4979ff;
  text-decoration: underline;
}

