@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.complaintContainer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.complaintContainerImage
{
    width: 50%;
}

.firstQuestion
{
  color: #fe3152;
  font-size: 40px;
}

.helpMessage
{
  color: #356490;
  font-size: 25px;
  margin: -35px 0px 0px 32px !important;
}

.complaintContainerForm
{
  width: 50%;
}

.complaintContainerFormField
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message
{
  resize: none;
}

.imageUpload
{
  display: none;
}

.chooseImage
{
  text-align: center;
}

.fullName, .phoneNumber, .userEmail, .officeLocation, .officerDesignation, .message, .chooseImage, .sendComplaintBtn
{
  width: 500px;
  padding: 15px 8px 15px 8px;
  margin: 18px 0px;
  border: none;
  border-bottom: 2px solid #85a7cd;
  font-size: 12px;
  font-weight: 600;
  color: black;
  transition: ease 1s;
  font-family: 'Roboto', sans-serif;
}

.chooseImage
{
  border: 3px dashed #fe3152;
  border-radius: 10px;
  display: inline-block;
  padding: 25px 0px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.sendComplaintBtn
{
  background-color: #fe3152;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 1px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.fullName:hover, .phoneNumber:hover, .userEmail:hover, .officeLocation:hover, .officerDesignation:hover ,.message:hover
{
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
}

.fullName:focus, .phoneNumber:focus, .userEmail:focus, .officeLocation:focus, .officerDesignation:focus ,.message:focus{
  outline: none;
}

.fullName:hover::placeholder, .phoneNumber:hover::placeholder, .userEmail:hover::placeholder, .officeLocation:hover::placeholder, .officerDesignation:hover::placeholder ,.message:hover::placeholder{
  color: transparent;
}

@media only screen and (max-width: 768px)
{
  .complaintContainerImage
  {
    display: none;
  }

  .fullName, .phoneNumber, .userEmail, .officeLocation, .officerDesignation, .message, .chooseImage, .sendComplaintBtn
  {
    width: 300px;
  }
  
}

@media only screen and (max-width: 320px)
{
  .fullName, .phoneNumber, .userEmail, .officeLocation, .officerDesignation, .message, .chooseImage, .sendComplaintBtn
  {
    width: 250px;
  }
}